<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

    <uses-feature android:name="android.software.leanback" android:required="true" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />

    <application
        android:allowBackup="false"
        android:banner="@android:drawable/sym_def_app_icon"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="AmbiP TV Source"
        android:theme="@android:style/Theme.Material.NoActionBar">

        <activity
            android:name=".TvSourceActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".TvCaptureService"
            android:exported="false"
            android:foregroundServiceType="mediaProjection"
            android:stopWithTask="false" />
    </application>
</manifest>
